/* styles.css */


h1 {
    color: rgb(28, 28, 28);
}
body {
    margin: 10px;
}
/* Optional: Adjust the max-width to your desired value */
iframe {
    max-width: 75%;
    display: inline-block;
}
p, ul, ol {
width: 100%;
margin: 0 auto;
color: rgb(75, 75, 75);
text-align: left;
margin-bottom: 20px;
}
img {
    max-width: 50%;
    display: inline-block;
}
figcaption{
    max-width: 50%;
    display: inline-block;
}

.h5p-iframe {
    max-width: 95%; /* Adjust the max-width as needed */
    display: inline-block;
    /* Add any other styles specific to the H5P iframe */
}
.video-iframe {
    max-width: 75% !important;
    display: inline-block !important;
    /* Add any other styles specific to the video iframe */
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
ul.objectives {
    width: 100%;
    margin: 0 auto;
    color: rgb(75, 75, 75);
    text-align: left;
    margin-bottom: 20px;
    padding: 20px; /* Add padding to create space between text and rectangle */
    background-color: #c9ecfc; /* Choose a light background color for the rectangle */
    border-radius: 10px; /* Add border-radius to create rounded corners */
}
.video-iframe {
    width: 50%;
    max-width: 100%;
    display: block;
    margin: 0 auto; /* Center the video horizontally */
}