/* styles.css */


h1 {
    color: rgb(28, 28, 28);
}
body {
    margin: 10px;
}
/* Optional: Adjust the max-width to your desired value */
iframe {
    max-width: 75%;
    display: inline-block;
}
p {
width: 100%;
margin: 0 auto;
color: rgb(75, 75, 75);
text-align: justify;
margin-bottom: 20px;
}
img {
    max-width: 50%;
    display: inline-block;
}
.h5p-iframe {
    max-width: 95%; /* Adjust the max-width as needed */
    display: inline-block;
    /* Add any other styles specific to the H5P iframe */
}
.video-iframe {
    max-width: 75% !important;
    display: inline-block !important;
    /* Add any other styles specific to the video iframe */
}